.replicas-page-wrap{
    display: flex;
    justify-content: space-between;
    width: 1512px;
    margin: 0 auto;
    margin-top: 30px;
    column-gap: 50px;
    margin-bottom: 20px;
}

.filter-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 16px;
    width: 380px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(5px);
    z-index: 7;
}

.items-block-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;
    row-gap: 50px;
}

@media screen and (max-width: 1512px) {
    .replicas-page-wrap{
        width: 1250px;
        column-gap: 20px;
    }
    .items-block-wrap{
        column-gap: 190px;
    }
}

@media screen and (max-width: 1250px) {
    .replicas-page-wrap{
        flex-direction: column;
        row-gap: 20px;
        width: 850px;
        column-gap: 20px;
    }
    .items-block-wrap{
        column-gap: 150px;
    }
}

@media screen and (max-width: 850px) {
    .replicas-page-wrap{
        width: 420px;
    }
    .items-block-wrap{
        column-gap: 30px;
        justify-content: center;
    }
    .filter-block {
        margin: 0 auto;
    }
}

@media screen and (max-width: 420px) {
    .replicas-page-wrap{
        width: 320px;
    }

    .filter-block{
        width: 320px;
    }

    .items-block-wrap{
        column-gap: 30px;
        justify-content: center;
    }
    .filter-block {
        margin: 0 auto;
    }
}